{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?key=MY_SECRET_TOKEN&limit=2&title=taipei",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.135 TT 0 0.136\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 255,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL24411582W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL32333152M\",\n                \"/books/OL33434012M\",\n                \"/books/OL34737572M\",\n                \"/books/OL33612124M\",\n                \"/books/OL34716676M\",\n                \"/works/OL24411582W\",\n                \"/subjects/city_planning_asia\",\n                \"/authors/OL2698054A\"\n            ],\n            \"title\": \"Globalizing Taipei\",\n            \"title_suggest\": \"Globalizing Taipei\",\n            \"title_sort\": \"Globalizing Taipei\",\n            \"edition_count\": 5,\n            \"edition_key\": [\n                \"OL32333152M\",\n                \"OL33434012M\",\n                \"OL34737572M\",\n                \"OL33612124M\",\n                \"OL34716676M\"\n            ],\n            \"publish_date\": [\n                \"2005\",\n                \"Jun 14, 2005\",\n                \"2006\"\n            ],\n            \"publish_year\": [\n                2005,\n                2006\n            ],\n            \"first_publish_year\": 2005,\n            \"number_of_pages_median\": 272,\n            \"isbn\": [\n                \"9781134326303\",\n                \"9781134326280\",\n                \"041575903X\",\n                \"1134326300\",\n                \"1134326289\",\n                \"9781134326310\",\n                \"1134326319\",\n                \"1280435704\",\n                \"9781280435706\",\n                \"9780415759038\"\n            ],\n            \"last_modified_i\": 1673943351,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"cover_edition_key\": \"OL32333152M\",\n            \"cover_i\": 10955461,\n            \"publisher\": [\n                \"Taylor & Francis Group\",\n                \"Routledge\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL2698054A\"\n            ],\n            \"author_name\": [\n                \"Reginald Kwok\"\n            ],\n            \"subject\": [\n                \"City planning, asia\"\n            ],\n            \"publisher_facet\": [\n                \"Routledge\",\n                \"Taylor & Francis Group\"\n            ],\n            \"subject_facet\": [\n                \"City planning, asia\"\n            ],\n            \"_version_\": 1767915655595556864,\n            \"author_facet\": [\n                \"OL2698054A Reginald Kwok\"\n            ],\n            \"subject_key\": [\n                \"city_planning_asia\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL20639252W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL35258261M\",\n                \"/books/OL27900361M\",\n                \"/books/OL32933576M\",\n                \"/books/OL35973807M\",\n                \"/books/OL36017431M\",\n                \"/works/OL20639252W\",\n                \"/subjects/nyt:young-adult-hardcover=2020-01-26\",\[...]
