{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?key=MY_SECRET_TOKEN&limit=3&title=Taipei",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.011 TT 0 0.013\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 255,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL24411582W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL32333152M\",\n                \"/books/OL33434012M\",\n                \"/books/OL34737572M\",\n                \"/books/OL33612124M\",\n                \"/books/OL34716676M\",\n                \"/works/OL24411582W\",\n                \"/subjects/city_planning_asia\",\n                \"/authors/OL2698054A\"\n            ],\n            \"title\": \"Globalizing Taipei\",\n            \"title_suggest\": \"Globalizing Taipei\",\n            \"title_sort\": \"Globalizing Taipei\",\n            \"edition_count\": 5,\n            \"edition_key\": [\n                \"OL32333152M\",\n                \"OL33434012M\",\n                \"OL34737572M\",\n                \"OL33612124M\",\n                \"OL34716676M\"\n            ],\n            \"publish_date\": [\n                \"2005\",\n                \"Jun 14, 2005\",\n                \"2006\"\n            ],\n            \"publish_year\": [\n                2005,\n                2006\n            ],\n            \"first_publish_year\": 2005,\n            \"number_of_pages_median\": 272,\n            \"isbn\": [\n                \"9781134326303\",\n                \"9781134326280\",\n                \"041575903X\",\n                \"1134326300\",\n                \"1134326289\",\n                \"9781134326310\",\n                \"1134326319\",\n                \"1280435704\",\n                \"9781280435706\",\n                \"9780415759038\"\n            ],\n            \"last_modified_i\": 1673943351,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"cover_edition_key\": \"OL32333152M\",\n            \"cover_i\": 10955461,\n            \"publisher\": [\n                \"Taylor & Francis Group\",\n                \"Routledge\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL2698054A\"\n            ],\n            \"author_name\": [\n                \"Reginald Kwok\"\n            ],\n            \"subject\": [\n                \"City planning, asia\"\n            ],\n            \"publisher_facet\": [\n                \"Routledge\",\n                \"Taylor & Francis Group\"\n            ],\n            \"subject_facet\": [\n                \"City planning, asia\"\n            ],\n            \"_version_\": 1767915655595556864,\n            \"author_facet\": [\n                \"OL2698054A Reginald Kwok\"\n            ],\n            \"subject_key\": [\n                \"city_planning_asia\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL20639252W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL35258261M\",\n                \"/books/OL27900361M\",\n                \"/books/OL32933576M\",\n                \"/books/OL35973807M\",\n                \"/books/OL36017431M\",\n                \"/works/OL20639252W\",\n                \"/subjects/nyt:young-adult-hardcover=2020-01-26\",\[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Taipei",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14913"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14913"
          ],
          "Ratelimit-Reset": [
            "2026749"
          ],
          "Etag": [
            "W/\"320-9NYdJWwXmLFJRp7SnbwruPFYtrk\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Taipei\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Taipei City\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Taipei City\",\"adminArea4Type\":\"County\",\"adminArea3\":\"\",\"adminArea3Type\":\"State\",\"adminArea1\":\"TW\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":25.03737,\"lng\":121.56355},\"displayLatLng\":{\"lat\":25.03737,\"lng\":121.56355},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 17:00:51 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=25.03737,121.56355",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 17:00:49"
          ],
          "Cdn-Edgestorageid": [
            "1070"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "8e744c29b1c95a7bd0beeb8a6218a910"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Panchiao\",\"region\":\"T'ai-pei\",\"country\":\"Taiwan\",\"lat\":25.04,\"lon\":121.56,\"tz_id\":\"Asia/Taipei\",\"localtime_epoch\":1695661248,\"localtime\":\"2023-09-26 1:00\"},\"current\":{\"last_updated_epoch\":1695660300,\"last_updated\":\"2023-09-26 00:45\",\"temp_c\":28.0,\"temp_f\":82.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":10.5,\"wind_kph\":16.9,\"wind_degree\":80,\"wind_dir\":\"E\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.03,\"precip_in\":0.0,\"humidity\":84,\"cloud\":0,\"feelslike_c\":33.6,\"feelslike_f\":92.5,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":1.0,\"gust_mph\":9.3,\"gust_kph\":15.0},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":32.3,\"maxtemp_f\":90.1,\"mintemp_c\":23.9,\"mintemp_f\":75.0,\"avgtemp_c\":27.4,\"avgtemp_f\":81.4,\"maxwind_mph\":12.8,\"maxwind_kph\":20.5,\"totalprecip_mm\":0.71,\"totalprecip_in\":0.03,\"totalsnow_cm\":0.0,\"avgvis_km\":9.8,\"avgvis_miles\":6.0,\"avghumidity\":75.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":85,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/176.png\",\"code\":1063},\"uv\":6.0},\"astro\":{\"sunrise\":\"05:44 AM\",\"sunset\":\"05:47 PM\",\"moonrise\":\"03:48 PM\",\"moonset\":\"01:53 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":0,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695657600,\"time\":\"2023-09-26 00:00\",\"temp_c\":25.0,\"temp_f\":77.0,\"is_day\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/176.png\",\"code\":1063},\"wind_mph\":6.0,\"wind_kph\":9.7,\"wind_degree\":90,\"wind_dir\":\"E\",\"pressure_mb\":1011.0,\"pressure_in\":29.87,\"precip_mm\":0.02,\"precip_in\":0.0,\"humidity\":87,\"cloud\":80,\"feelslike_c\":27.5,\"feelslike_f\":81.5,\"windchill_c\":25.0,\"windchill_f\":77.0,\"heatindex_c\":27.5,\"heatindex_f\":81.5,\"dewpoint_c\":22.6,\"dewpoint_f\":72.7,\"will_it_rain\":1,\"chance_of_rain\":82,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":9.7,\"gust_kph\":15.7,\"uv\":1.0},{\"time_epoch\":1695661200,\"time\":\"2023-09-26 01:00\",\"temp_c\":28.0,\"temp_f\":82.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":10.5,\"wind_kph\":16.9,\"wind_degree\":80,\"wind_dir\":\"E\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.03,\"precip_in\":0.0,\"humidity\":84,\"cloud\":0,\"feelslike_c\":27.1[...]
