{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?key=MY_SECRET_TOKEN&limit=5&title=San%20Fransisco",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.064 TT 0 0.065\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 12,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL28361869W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL46553778M\",\n                \"/books/OL38820162M\",\n                \"/books/OL46585048M\",\n                \"/works/OL28361869W\",\n                \"/authors/OL23034A\"\n            ],\n            \"title\": \"Mission San Fransisco de Solano\",\n            \"title_suggest\": \"Mission San Fransisco de Solano\",\n            \"title_sort\": \"Mission San Fransisco de Solano\",\n            \"edition_count\": 3,\n            \"edition_key\": [\n                \"OL46553778M\",\n                \"OL38820162M\",\n                \"OL46585048M\"\n            ],\n            \"publish_date\": [\n                \"2009\",\n                \"2003\"\n            ],\n            \"publish_year\": [\n                2009,\n                2003\n            ],\n            \"first_publish_year\": 2003,\n            \"isbn\": [\n                \"1282208780\",\n                \"9781282208780\",\n                \"9781435859166\",\n                \"1608540294\",\n                \"1435859162\",\n                \"9781608540297\"\n            ],\n            \"last_modified_i\": 1676609848,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Rosen Publishing Group\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL23034A\"\n            ],\n            \"author_name\": [\n                \"Allison Stark Draper\"\n            ],\n            \"publisher_facet\": [\n                \"Rosen Publishing Group\"\n            ],\n            \"_version_\": 1767922344894922753,\n            \"author_facet\": [\n                \"OL23034A Allison Stark Draper\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL13399462W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL21508522M\",\n                \"/books/OL10441559M\",\n                \"/works/OL13399462W\",\n                \"/subjects/maps\",\n                \"/subjects/place:san_fransisco_(calif.)\",\n                \"/authors/OL6289021A\"\n            ],\n            \"title\": \"San Fransisco street map\",\n            \"title_suggest\": \"San Fransisco street map\",\n            \"title_sort\": \"San Fransisco street map\",\n            \"edition_count\": 2,\n            \"edition_key\": [\n                \"OL21508522M\",\n                \"OL10441559M\"\n            ],\n            \"publish_date\": [\n                \"July 1990\",\n                \"1980\"\n            ],\n            \"publish_year\": [\n                1980,\n                1990\n            ],\n            \"first_publish_year\": 1980,\n            \"publish_place\": [\n                \"[Chicago]\"\n            ],\n            \"isbn\": [\n                \"9780528271519\",\n                \"0528271512\"\n            ],\n            \"last_modified_i\": 1680459686,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"cover_edition_key\": \"OL10441559M\",\n            \"cover_i\": 13803723,\n            \"publisher\": [\n                \"Rand McNally & Co\",\n                \"Rand McNally\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL6289021A\"\n            ],\n            \"author_name\": [\n                \"Rand NcNally and Company.\"\n            ],\n            \"place\": [\n                \"San Fransisco (Calif.)\"\n            ],\n            \"subject\": [\n                \"Maps\"\n            ],\n            \"publisher_facet\": [\n                \"Rand McNally\",\n                \"Rand McNally & Co\"\n            ],\n            \"place_key\": [\n                \"san_fransisco_(calif.)\"\n            ],\n            \"subject_facet\": [\n                \"Maps\"\n            ],\n            \"_version_\": 1767896563571490817,\n            \"place_facet\": [\n                \"San Fransisco (Calif.)\"\n            ],\n            \"author_facet\": [\n                \"OL6289021A Rand NcNally and Company.\"\n            ],\n            \"subject_key\": [\n                \"maps\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL6096993W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL20940741M\",\n                \"/works/OL6096993W\",\n                \"/subjects/san_francisco_(calif.)_guidebooks\",\n                \"/authors/OL1551056A\"\n            ],\n            \"title\": \"Frommer's San Fransisco\",\n            \"title_suggest\": \"Frommer's San Fransisco\",\n            \"title_sort\": \"Frommer's San Fransisco\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL20940741M\"\n            ],\n            \"publish_date\": [\n                \"1995\"\n            ],\n            \"publish_year\": [\n                1995\n            ],\n            \"first_publish_year\": 1995,\n            \"number_of_pages_median\": 20,\n            \"publish_place\": [\n                \"New York\"\n            ],\n            \"isbn\": [\n                \"9780028606361\",\n                \"0028606361\"\n            ],\n            \"last_modified_i\": 1670683054,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Macmillan Publishing Co.,U.S.\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL1551056A\"\n            ],\n            \"author_name\": [\n                \"Darwin Porter\"\n            ],\n            \"author_alternative_name\": [\n                \"Porter Darwin\"\n            ],\n            \"subject\": [\n                \"San francisco (calif.), guidebooks\"\n            ],\n            \"id_amazon\": [\n                \"\"\n            ],\n            \"id_goodreads\": [\n                \"2505797\"\n            ],\n            \"id_librarything\": [\n                \"4784436\"\n            ],\n            \"publisher_facet\": [\n                \"Macmillan Publishing Co.,U.S.\"\n            ],\n            \"subject_facet\": [\n                \"San francisco (calif.), guidebooks\"\n            ],\n            \"_version_\": 1767938668316590083,\n            \"author_facet\": [\n                \"OL1551056A Darwin Porter\"\n            ],\n            \"subject_key\": [\n                \"san_francisco_(calif.)_guidebooks\"\n           [...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=San%20Fransisco",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14905"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14905"
          ],
          "Ratelimit-Reset": [
            "2024669"
          ],
          "Etag": [
            "W/\"32f-oWDBG3fcJZTgVCaxPyfZre+hpIE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"San Fransisco\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"San Fransisco\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Monte Caseros\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CN\",\"adminArea3Type\":\"State\",\"adminArea1\":\"AR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":-30.34571,\"lng\":-57.83476},\"displayLatLng\":{\"lat\":-30.34571,\"lng\":-57.83476},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 17:35:31 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=-30.34571,-57.83476",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 17:35:31"
          ],
          "Cdn-Edgestorageid": [
            "1069"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "d5594e6f061a51c583c43ad8dded5dab"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Juan Pujol\",\"region\":\"Corrientes\",\"country\":\"Argentina\",\"lat\":-30.35,\"lon\":-57.83,\"tz_id\":\"America/Argentina/Cordoba\",\"localtime_epoch\":1695663331,\"localtime\":\"2023-09-25 14:35\"},\"current\":{\"last_updated_epoch\":1695663000,\"last_updated\":\"2023-09-25 14:30\",\"temp_c\":18.3,\"temp_f\":65.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":15.2,\"wind_kph\":24.5,\"wind_degree\":120,\"wind_dir\":\"ESE\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":71,\"cloud\":55,\"feelslike_c\":18.3,\"feelslike_f\":65.0,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":5.0,\"gust_mph\":19.4,\"gust_kph\":31.2},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":18.4,\"maxtemp_f\":65.1,\"mintemp_c\":14.7,\"mintemp_f\":58.4,\"avgtemp_c\":16.3,\"avgtemp_f\":61.3,\"maxwind_mph\":16.3,\"maxwind_kph\":26.3,\"totalprecip_mm\":0.01,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":79.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"uv\":5.0},\"astro\":{\"sunrise\":\"06:37 AM\",\"sunset\":\"06:49 PM\",\"moonrise\":\"02:39 PM\",\"moonset\":\"04:10 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695610800,\"time\":\"2023-09-25 00:00\",\"temp_c\":16.0,\"temp_f\":60.8,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":15.4,\"wind_kph\":24.8,\"wind_degree\":127,\"wind_dir\":\"SE\",\"pressure_mb\":1012.0,\"pressure_in\":29.88,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":89,\"cloud\":30,\"feelslike_c\":16.0,\"feelslike_f\":60.8,\"windchill_c\":16.0,\"windchill_f\":60.8,\"heatindex_c\":16.0,\"heatindex_f\":60.8,\"dewpoint_c\":14.1,\"dewpoint_f\":57.4,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":22.6,\"gust_kph\":36.4,\"uv\":1.0},{\"time_epoch\":1695614400,\"time\":\"2023-09-25 01:00\",\"temp_c\":15.7,\"temp_f\":60.3,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":13.6,\"wind_kph\":22.0,\"wind_degree\":118,\"wind_dir\":\"ESE\",\"pressure_mb\":1012.0,\"pressure_in\":29.88,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":87,\"cloud\":36,\"feelsl[...]
