{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=1&key=MY_SECRET_TOKEN&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/23/2023 17:10:01"
          ],
          "Cdn-Edgestorageid": [
            "871"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "60119ee9a14843ff061646b22ef9caf7"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695488956,\"localtime\":\"2023-09-23 11:09\"},\"current\":{\"last_updated_epoch\":1695488400,\"last_updated\":\"2023-09-23 11:00\",\"temp_c\":15.0,\"temp_f\":59.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":5.6,\"wind_kph\":9.0,\"wind_degree\":270,\"wind_dir\":\"W\",\"pressure_mb\":1018.0,\"pressure_in\":30.06,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":32,\"cloud\":75,\"feelslike_c\":15.7,\"feelslike_f\":60.2,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":4.0,\"gust_mph\":2.8,\"gust_kph\":4.6},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-23\",\"date_epoch\":1695427200,\"day\":{\"maxtemp_c\":24.9,\"maxtemp_f\":76.8,\"mintemp_c\":9.4,\"mintemp_f\":48.9,\"avgtemp_c\":16.8,\"avgtemp_f\":62.2,\"maxwind_mph\":11.9,\"maxwind_kph\":19.1,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":32.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:48 AM\",\"sunset\":\"06:56 PM\",\"moonrise\":\"03:41 PM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"52\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695448800,\"time\":\"2023-09-23 00:00\",\"temp_c\":16.1,\"temp_f\":61.0,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.6,\"wind_kph\":5.8,\"wind_degree\":222,\"wind_dir\":\"SW\",\"pressure_mb\":1010.0,\"pressure_in\":29.82,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":33,\"cloud\":0,\"feelslike_c\":16.1,\"feelslike_f\":61.0,\"windchill_c\":16.1,\"windchill_f\":61.0,\"heatindex_c\":16.1,\"heatindex_f\":61.0,\"dewpoint_c\":-0.0,\"dewpoint_f\":32.0,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.3,\"gust_kph\":10.2,\"uv\":1.0},{\"time_epoch\":1695452400,\"time\":\"2023-09-23 01:00\",\"temp_c\":14.6,\"temp_f\":58.3,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.9,\"wind_kph\":4.7,\"wind_degree\":314,\"wind_dir\":\"NW\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":41,\"cloud\":1,\"feelslike_c\":14.6,[...]
