{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Denver,France",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14954"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14954"
          ],
          "Ratelimit-Reset": [
            "2181045"
          ],
          "Etag": [
            "W/\"546-H2NW+C4eWzBf4So5XpqckuDEbS8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Denver,France\"},\"locations\":[{\"street\":\"W Francis Pl\",\"adminArea6\":\"Morse Park\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Jefferson\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"80215\",\"geocodeQualityCode\":\"B1CAA\",\"geocodeQuality\":\"STREET\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.75331,\"lng\":-105.09866},\"displayLatLng\":{\"lat\":39.75331,\"lng\":-105.09866},\"mapUrl\":\"\"},{\"street\":\"Rue de Denver\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Brest\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Finistère\",\"adminArea4Type\":\"County\",\"adminArea3\":\"BRE\",\"adminArea3Type\":\"State\",\"adminArea1\":\"FR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"29200\",\"geocodeQualityCode\":\"B1BAA\",\"geocodeQuality\":\"STREET\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":48.38378,\"lng\":-4.48725},\"displayLatLng\":{\"lat\":48.38378,\"lng\":-4.48725},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sat, 23 Sep 2023 22:09:15 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=39.75331,-105.09866",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/23/2023 22:09:16"
          ],
          "Cdn-Edgestorageid": [
            "894"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "94110be4aa1fd8af5a00dff2d921fe65"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Wheat Ridge\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.75,\"lon\":-105.1,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695506906,\"localtime\":\"2023-09-23 16:08\"},\"current\":{\"last_updated_epoch\":1695506400,\"last_updated\":\"2023-09-23 16:00\",\"temp_c\":25.0,\"temp_f\":77.0,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":20.6,\"wind_kph\":33.1,\"wind_degree\":290,\"wind_dir\":\"WNW\",\"pressure_mb\":1016.0,\"pressure_in\":30.0,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":11,\"cloud\":0,\"feelslike_c\":23.8,\"feelslike_f\":74.8,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":6.0,\"gust_mph\":5.4,\"gust_kph\":8.7},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-23\",\"date_epoch\":1695427200,\"day\":{\"maxtemp_c\":24.9,\"maxtemp_f\":76.8,\"mintemp_c\":9.1,\"mintemp_f\":48.4,\"avgtemp_c\":16.8,\"avgtemp_f\":62.2,\"maxwind_mph\":8.7,\"maxwind_kph\":14.0,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":39.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":5.0},\"astro\":{\"sunrise\":\"06:49 AM\",\"sunset\":\"06:56 PM\",\"moonrise\":\"03:42 PM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"52\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695448800,\"time\":\"2023-09-23 00:00\",\"temp_c\":15.8,\"temp_f\":60.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.0,\"wind_kph\":6.5,\"wind_degree\":258,\"wind_dir\":\"WSW\",\"pressure_mb\":1010.0,\"pressure_in\":29.83,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":34,\"cloud\":0,\"feelslike_c\":15.8,\"feelslike_f\":60.4,\"windchill_c\":15.8,\"windchill_f\":60.4,\"heatindex_c\":15.8,\"heatindex_f\":60.4,\"dewpoint_c\":-0.0,\"dewpoint_f\":31.9,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.8,\"gust_kph\":11.0,\"uv\":1.0},{\"time_epoch\":1695452400,\"time\":\"2023-09-23 01:00\",\"temp_c\":14.5,\"temp_f\":58.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.7,\"wind_kph\":7.6,\"wind_degree\":307,\"wind_dir\":\"NW\",\"pressure_mb\":1011.0,\"pressure_in\":29.86,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":38,\"cloud\":0,\"feelslike_c\":14.9,[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Paris,Colorado",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
 [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=1234",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ][...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=14.5534,121.00564",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone[...]
[...]
