{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Cincinatti,OH",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14888"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14888"
          ],
          "Ratelimit-Reset": [
            "2015605"
          ],
          "Etag": [
            "W/\"325-oN2nrIu8IGDhI+ebvTK7eJj7vt8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Cincinatti,OH\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Cincinnati\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Hamilton\",\"adminArea4Type\":\"County\",\"adminArea3\":\"OH\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XBX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"displayLatLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 20:06:36 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=%7B:latitude=%3E39.10713,%20:longitude=%3E-84.50413%7D&key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&to=%7B:latitude=%3E39.10713,%20:longitude=%3E-84.50413%7D",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14888"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14888"
          ],
          "Ratelimit-Reset": [
            "2015604"
          ],
          "X-Transaction-Count": [
            "all=2,geocoding=2"
          ],
          "Etag": [
            "W/\"116-iBjgnQxNGqjY6sVCYaem2XJ/c3Q\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given locations.\"]}}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 20:06:36 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
     [...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=39.10713,-84.50413&key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&to=41.88425,-87.63245",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14876"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14876"
          ],
          "Ratelimit-Reset": [
            "2015077"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"49f6-OGdo5OBuxgxYIBBehSM5A+nYACw\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AJ0A5wcAAAUBAAAHAAAABQAAALoAAAB42mPYxcDAyMTAwMCekVqUapWcG2H_TpyBgYHhQpxTNdfi2hfOUTbno8_UvnB2sTkfzYAFwDQmS-2SBvHXvfi3kiHm_zrHv6dPxE6D0gw4wJaLDcc2MDIwMDgyMrmsEGj1CFBoYmFgYAAJMTgwcDCwMjAIQNUyQmklBpCYk8QaBwAdMylvb5XRQw:car\",\"realTime\":16431,\"distance\":296.2803,\"time\":15676,\"formattedTime\":\"04:21:16\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":296.2803,\"time\":16431,\"formattedTime\":\"04:33:51\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.2287,\"narrative\":\"Head toward Broadway St on Gilbert Ave (US-22). Go for 0.2 mi.\",\"time\":44,\"direction\":6,\"directionName\":\"Southwest\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:44\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.107128,\"lng\":-84.504137},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"US-22\",\"OH-3\",\"Gilbert Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&size=225,160&locations=39.107128,-84.504137|marker-1||39.10536000000002,-84.50725000000001|marker-2||&center=39.10624400000001,-84.5056935&defaultMarker=none&zoom=15&session=AJ0A5wcAAAUBAAAHAAAABQAAALoAAAB42mPYxcDAyMTAwMCekVqUapWcG2H_TpyBgYHhQpxTNdfi2hfOUTbno8_UvnB2sTkfzYAFwDQmS-2SBvHXvfi3kiHm_zrHv6dPxE6D0gw4wJaLDcc2MDIwMDgyMrmsEGj1CFBoYmFgYAAJMTgwcDCwMjAIQNUyQmklBp[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Taipei",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
         [...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Cincinatti,OH&key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&to=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=41.88425,-87.63245",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 21:56:30"
          ],
          "Cdn-Edgestorageid": [
            "894"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "3e38e112820a21e8b452b7e9125c4307"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Chicago\",\"region\":\"Illinois\",\"country\":\"United States of America\",\"lat\":41.88,\"lon\":-87.63,\"tz_id\":\"America/Chicago\",\"localtime_epoch\":1695678989,\"localtime\":\"2023-09-25 16:56\"},\"current\":{\"last_updated_epoch\":1695678300,\"last_updated\":\"2023-09-25 16:45\",\"temp_c\":22.8,\"temp_f\":73.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":10.5,\"wind_kph\":16.9,\"wind_degree\":60,\"wind_dir\":\"ENE\",\"pressure_mb\":1018.0,\"pressure_in\":30.07,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":66,\"cloud\":75,\"feelslike_c\":24.9,\"feelslike_f\":76.8,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":4.0,\"gust_mph\":8.8,\"gust_kph\":14.1},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":22.4,\"maxtemp_f\":72.4,\"mintemp_c\":16.6,\"mintemp_f\":61.9,\"avgtemp_c\":19.1,\"avgtemp_f\":66.5,\"maxwind_mph\":10.3,\"maxwind_kph\":16.6,\"totalprecip_mm\":6.19,\"totalprecip_in\":0.24,\"totalsnow_cm\":0.0,\"avgvis_km\":9.7,\"avgvis_miles\":6.0,\"avghumidity\":79.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":84,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Moderate rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/302.png\",\"code\":1189},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:41 AM\",\"sunset\":\"06:43 PM\",\"moonrise\":\"05:07 PM\",\"moonset\":\"01:31 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695618000,\"time\":\"2023-09-25 00:00\",\"temp_c\":16.7,\"temp_f\":62.1,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":6.5,\"wind_kph\":10.4,\"wind_degree\":96,\"wind_dir\":\"E\",\"pressure_mb\":1019.0,\"pressure_in\":30.09,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":97,\"cloud\":100,\"feelslike_c\":16.7,\"feelslike_f\":62.1,\"windchill_c\":16.7,\"windchill_f\":62.1,\"heatindex_c\":16.7,\"heatindex_f\":62.1,\"dewpoint_c\":16.2,\"dewpoint_f\":61.2,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":10.9,\"gust_kph\":17.6,\"uv\":1.0},{\"time_epoch\":1695621600,\"time\":\"2023-09-25 01:00\",\"temp_c\":16.8,\"temp_f\":62.2,\"is_day\":0,\"condition\":{\"text\":\"Moderate rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/302.png\",\"code\":1189},\"wind_mph\":8.7,\"wind_kph\":14.0,\"wind_degree\":139,\"wind_dir\":\"SE\",\"pressure_mb\":1019.0,\"pressure_in\":30.08,\"precip_mm\":4.84,\"precip_in\":0.19,\"humidity\":97,\"cloud\":100,\"feels[...]
[...]
