{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14821"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14821"
          ],
          "Ratelimit-Reset": [
            "1998924"
          ],
          "Etag": [
            "W/\"158-SDl5fNi22x9FSEkVOXJ4rQPLABU\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":400,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"Illegal argument from request: Insufficient info for location\"]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{},\"locations\":[]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 00:44:35 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&to=New%20York,%20NY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14804"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14804"
          ],
          "Ratelimit-Reset": [
            "1998599"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"9215-6xX4yAkiE0JRZGN5UmorKdsGrL8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"ANIA5wcAAAUBAAAHAAAABQAAAHwBAAB42mOoYWRgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELgGnsn1QmCeJ_TresZ7LKiveef-tzjE9WvPeOW5-xagQB114zxj3sDAwMLrKMTSGMDAcEBGBSLAwMDhjqmXCYw8TAwiDAxMAIV-QANwQFNEAMaGBDCCkgTBYA6WKEijswMEDdwohpnwDCYA6EuxzQXakgCJGHeUqBCWKdQJCJQAODcSgLAC7BI9HP1DL6:car\",\"realTime\":91556,\"distance\":1780.3931,\"time\":89732,\"formattedTime\":\"24:55:32\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":1780.3931,\"time\":91556,\"formattedTime\":\"25:25:56\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":14,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:14\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=ANIA5wcAAAUBAAAHAAAABQAAAHwBAAB42mOoYWRgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELgGnsn1QmCeJ_TresZ7LKiveef-tzjE9WvPeOW5-xagQB114zxj3sDAwMLrKMTSGMDAcEBGBSLAwMDhjqmXCYw8TAwiDAxMAIV-QANwQFNEAMaGBDCCkgTBYA6WKEijswMEDdwohpnwDCYA6EuxzQXakgCJGHeUqBCWKdQJCJQAODcS[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=New%20York,%20NY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14800"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14800"
          ],
          "Ratelimit-Reset": [
            "1998336"
          ],
          "Etag": [
            "W/\"322-UlDHL9GB90jWQTsX3tzjJeTAqRI\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"New York, NY\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"New York\",\"adminArea5Type\":\"City\",\"adminArea4\":\"New York\",\"adminArea4Type\":\"County\",\"adminArea3\":\"NY\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":40.71453,\"lng\":-74.00712},\"displayLatLng\":{\"lat\":40.71453,\"lng\":-74.00712},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 00:54:24 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=40.71453,-74.00712",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 00:54:22"
          ],
          "Cdn-Edgestorageid": [
            "1029"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "d193deeb4faa5349b3f507caa474d2de"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"New York\",\"region\":\"New York\",\"country\":\"United States of America\",\"lat\":40.71,\"lon\":-74.01,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695689661,\"localtime\":\"2023-09-25 20:54\"},\"current\":{\"last_updated_epoch\":1695689100,\"last_updated\":\"2023-09-25 20:45\",\"temp_c\":16.1,\"temp_f\":61.0,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":50,\"wind_dir\":\"NE\",\"pressure_mb\":1023.0,\"pressure_in\":30.21,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":81,\"cloud\":100,\"feelslike_c\":16.1,\"feelslike_f\":61.0,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":1.0,\"gust_mph\":23.0,\"gust_kph\":37.1},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":15.8,\"maxtemp_f\":60.5,\"mintemp_c\":13.4,\"mintemp_f\":56.1,\"avgtemp_c\":15.0,\"avgtemp_f\":59.0,\"maxwind_mph\":19.2,\"maxwind_kph\":31.0,\"totalprecip_mm\":25.88,\"totalprecip_in\":1.02,\"totalsnow_cm\":0.0,\"avgvis_km\":8.1,\"avgvis_miles\":5.0,\"avghumidity\":92.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":87,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Heavy rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/308.png\",\"code\":1195},\"uv\":3.0},\"astro\":{\"sunrise\":\"06:46 AM\",\"sunset\":\"06:48 PM\",\"moonrise\":\"05:08 PM\",\"moonset\":\"01:38 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695614400,\"time\":\"2023-09-25 00:00\",\"temp_c\":14.6,\"temp_f\":58.3,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":14.1,\"wind_kph\":22.7,\"wind_degree\":52,\"wind_dir\":\"NE\",\"pressure_mb\":1013.0,\"pressure_in\":29.9,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":13.3,\"feelslike_f\":55.9,\"windchill_c\":13.3,\"windchill_f\":55.9,\"heatindex_c\":14.6,\"heatindex_f\":58.3,\"dewpoint_c\":14.5,\"dewpoint_f\":58.0,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":7.0,\"vis_miles\":4.0,\"gust_mph\":19.9,\"gust_kph\":32.0,\"uv\":1.0},{\"time_epoch\":1695618000,\"time\":\"2023-09-25 01:00\",\"temp_c\":14.3,\"temp_f\":57.7,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":12.1,\"wind_kph\":19.4,\"wind_degree\":50,\"wind_dir\":\"NE\",\"pressure_mb\":1013.0,\"pressure_in\":29.9,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":[...]
