{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&to=New%20York,%20NY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14786"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14786"
          ],
          "Ratelimit-Reset": [
            "1994392"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"962e-arpyeu1S6SS3tszhaqbDAiznySE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"ANMA5wcAAAUBAAAHAAAABQAAAH0BAAB42mOoZWRgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELgGnsn1QmCeJ_TresZ7LKiveef-tzjE9WvPeOW5-xagSBRq3HnIfZGRgYamQZjZg1lJkSODhgckwMDAoYGhhxGMTIwMTAwdiAUKQANwQFOEAMcGBGCAkgNHEoMDA0wMQVGBggbmnAYh8HwmAWhLsU0F05gQMiD_OUACPEOg5NKQ6HhplaTABpUCRQ8D43bg:car\",\"realTime\":91611,\"distance\":1779.6667,\"time\":89737,\"formattedTime\":\"24:55:37\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":1779.6667,\"time\":91611,\"formattedTime\":\"25:26:51\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":12,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:12\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=ANMA5wcAAAUBAAAHAAAABQAAAH0BAAB42mOoZWRgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELgGnsn1QmCeJ_TresZ7LKiveef-tzjE9WvPeOW5-xagSBRq3HnIfZGRgYamQZjZg1lJkSODhgckwMDAoYGhhxGMTIwMTAwdiAUKQANwQFOEAMcGBGCAkgNHEoMDA0wMQVGBggbmnAYh8HwmAWhLsU0F05gQMiD_OUACPEOg5NKQ6Hhp[...]
