{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/current.json?key=MY_SECRET_TOKEN&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/22/2023 22:01:09"
          ],
          "Cdn-Edgestorageid": [
            "941"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "a048d3b8df93fa1043cd33ff80d8fc97"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695420024,\"localtime\":\"2023-09-22 16:00\"},\"current\":{\"last_updated_epoch\":1695419100,\"last_updated\":\"2023-09-22 15:45\",\"temp_c\":27.2,\"temp_f\":81.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":17.4,\"wind_kph\":28.1,\"wind_degree\":190,\"wind_dir\":\"S\",\"pressure_mb\":1013.0,\"pressure_in\":29.91,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":6,\"cloud\":25,\"feelslike_c\":25.4,\"feelslike_f\":77.7,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":18.3,\"gust_kph\":29.4}}"
        }
      },
      "recorded_at": "Fri, 22 Sep 2023 22:01:09 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}