{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=GACB7MLEb6OwTOjNljtmxCG3TDZqHq9k&location=Paris,France",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14973"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14973"
          ],
          "Ratelimit-Reset": [
            "2187183"
          ],
          "Etag": [
            "W/\"317-dz5n+UO6B86/sckoYCBUn0rgJwc\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Paris,France\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Paris\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Paris\",\"adminArea4Type\":\"County\",\"adminArea3\":\"IDF\",\"adminArea3Type\":\"State\",\"adminArea1\":\"FR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":48.85717,\"lng\":2.3414},\"displayLatLng\":{\"lat\":48.85717,\"lng\":2.3414},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sat, 23 Sep 2023 20:26:58 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=48.85717,2.3414",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/23/2023 20:26:58"
          ],
          "Cdn-Edgestorageid": [
            "718"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "e61f601425074bba9fd190505ee7504e"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Paris\",\"region\":\"Ile-de-France\",\"country\":\"France\",\"lat\":48.86,\"lon\":2.34,\"tz_id\":\"Europe/Paris\",\"localtime_epoch\":1695500769,\"localtime\":\"2023-09-23 22:26\"},\"current\":{\"last_updated_epoch\":1695500100,\"last_updated\":\"2023-09-23 22:15\",\"temp_c\":12.0,\"temp_f\":53.6,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.2,\"wind_kph\":3.6,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":1023.0,\"pressure_in\":30.21,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":88,\"cloud\":0,\"feelslike_c\":12.5,\"feelslike_f\":54.4,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":1.0,\"gust_mph\":2.2,\"gust_kph\":3.5},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-23\",\"date_epoch\":1695427200,\"day\":{\"maxtemp_c\":18.9,\"maxtemp_f\":66.0,\"mintemp_c\":10.8,\"mintemp_f\":51.4,\"avgtemp_c\":14.8,\"avgtemp_f\":58.7,\"maxwind_mph\":8.1,\"maxwind_kph\":13.0,\"totalprecip_mm\":0.09,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":61.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"uv\":4.0},\"astro\":{\"sunrise\":\"07:38 AM\",\"sunset\":\"07:47 PM\",\"moonrise\":\"05:02 PM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"52\",\"is_moon_up\":0,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695420000,\"time\":\"2023-09-23 00:00\",\"temp_c\":12.5,\"temp_f\":54.5,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":7.8,\"wind_kph\":12.6,\"wind_degree\":245,\"wind_dir\":\"WSW\",\"pressure_mb\":1011.0,\"pressure_in\":29.86,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":73,\"cloud\":21,\"feelslike_c\":11.3,\"feelslike_f\":52.3,\"windchill_c\":11.3,\"windchill_f\":52.3,\"heatindex_c\":12.5,\"heatindex_f\":54.5,\"dewpoint_c\":7.8,\"dewpoint_f\":46.1,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":12.8,\"gust_kph\":20.5,\"uv\":1.0},{\"time_epoch\":1695423600,\"time\":\"2023-09-23 01:00\",\"temp_c\":12.2,\"temp_f\":53.9,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":8.1,\"wind_kph\":13.0,\"wind_degree\":247,\"wind_dir\":\"WSW\",\"pressure_mb\":1012.0,\"pressure_in\":29.88,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":75,\"cloud\":17,\"feelslike_c\":1[...]
